

.navbar {    
    height: 7.5vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Caveat', cursive;
}

.lilith:hover {
    color: black;
}

.lilith {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 2em;
    width: 25vw;
    padding: 2px;
    position: absolute;
    left: 3vw;
}

.home * {
    color:white!important;
}



.fa-firstdraft {
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);       
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: flex-end;
   }



.nav-item {
    display: flex;
    align-items: center;   
    color: black;   
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-links:hover {
    background-color: white;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: black;
    position: absolute;
    right: -15vw;
    top: 5vh;
}
.fa-times {
    color: black;
    position: absolute;
    right: -15vw;   
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    margin-right: 100px;
    display:none;
}


@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 90vw;        
        top: 55vh;
        height: 90vh;
        background: white;       
        position: absolute;
        left: -120%;
        opacity: 1;
        transition: all 0.5s ease;
       
    }

    .nav-menu.active {
        left: -10vw;
        top: 55vh;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        opacity: 1;
        transition: all 0.5s ease;
        color: black!important;
        position:absolute;
        top:12vh;
        

    }

    .nav-links {
        text-align: center;
        padding: 1rem;
        width: 100%;
        color:black!important;
    }

    .nav-links:hover {
        background-color: white;
        border-radius: 0;
    }


    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        position: absolute;
        right: -15vw;
        top: 2vw;
        color: black;
        font-size: 2rem;        
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: white;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: white;
        transition: 250ms;
    }

  
}

nav a {
    padding: 6px 10px;
    margin: 0 15px;
    transition: all 0.2s;
}


@media only screen and (max-width: 600px) {
    .navbar {
        height: 15vh;
    }

 

}

@media (max-height: 600px) and (max-width: 900px) {
   

    .menu-icon {
    padding-right:5vw;
    }
}
